@charset "utf8";

@import "partials/globals"; // variables, maps
@import "partials/_stripes-mixins"; // layout, styles

// STYLE
* {
	box-sizing: border-box;
}
main {
	min-height: 100vh;
}

/* BEM-like */
.stripes {
	&-item {
		// 1. stripes-item
		// $animations, $cols, $col-width
		@include stripes-item-layout($animations, $columns-and-widths...);

		// hover FX
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(white, 0.2);
			mix-blend-mode: soft-light;
			transform: skew(30deg);
		}
		&:hover::before {
			transform: skew(0);
		}

		// 2. stripes-item .stripes-content
		@include stripes-content-data($itacademy-text);
	}

	// 3 .stripes-content
	&-content {
		// $family, $size, $color
		@include stripes-font-style($font-style...);
	}
}
